.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 248, 248, 1);
  position: relative;
  padding: 0 0 50px 0;
}

@media screen and (min-width: 375px) and (max-width: 413px) {
  .page {
    background-color: white;
    padding: 0;
  }
}
