.headerContainer {
  width: 100vw;
  height: 72px;
  background-color: rgba(177, 94, 108, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  .soonSolve {
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    font-family: "Oi", cursive;
  }
}
