.LoginSignUpBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(177, 94, 108, 1);
  padding: 50px 0px 50px 0px;
  position: relative;

  .Logo {
    width: 18rem;
    height: 18rem;
    position: absolute;
    top: 3rem;
    .LogoImg {
      width: 100%;
      height: 100%;
      object-fit: cover;

      animation: shake 1s;

      animation-iteration-count: infinite;
      // animation-direction: alternate;

      animation-fill-mode: forwards;
    }
  }
  .soonSolve {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    font-family: "Oi", cursive;
    position: absolute;
    top: 5%;
    animation: soon-solve 1s;

    animation-iteration-count: 1;
    // animation-direction: alternate;

    animation-fill-mode: forwards;
  }
  .SignUpLogin {
    font-size: 36px;
    color: rgba(0, 0, 0, 1);
    font-family: "Noto Sans TC", Courier;
    font-weight: 1000;
    position: absolute;
    top: 12%;
  }
  .forms {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    .userContainer {
      width: 100%;
      margin-bottom: 5px;
      .user {
        font-size: 25px;
        color: white;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
      }
      .userBox {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        padding: 8px 14px 8px 14px;
        box-sizing: border-box;
        font-size: 16px;
        color: rgba(191, 191, 191, 1);
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .userError {
        font-size: 16px;
        color: black;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-left: 5px;
      }
    }
    .emailContainer {
      width: 100%;
      margin-bottom: 5px;
      .email {
        font-size: 25px;
        color: white;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
      }
      .emailBox {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        padding: 8px 14px 8px 14px;
        box-sizing: border-box;
        font-size: 16px;
        color: rgba(191, 191, 191, 1);
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .emailError {
        font-size: 16px;
        color: black;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-left: 5px;
      }
    }
    .passwordContainer {
      width: 100%;
      margin-bottom: 5px;
      .password {
        font-size: 25px;
        color: white;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
      }
      .passwordBox {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        padding: 8px 14px 8px 14px;
        box-sizing: border-box;
        font-size: 16px;
        color: rgba(191, 191, 191, 1);
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .passwordError {
        font-size: 16px;
        color: black;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-left: 5px;
      }
    }
    .rePasswordContainer {
      width: 100%;
      margin-bottom: 5px;
      .rePassword {
        font-size: 25px;
        color: white;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-bottom: 7px;
      }
      .rePasswordBox {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        padding: 8px 14px 8px 14px;
        box-sizing: border-box;
        font-size: 16px;
        color: rgba(191, 191, 191, 1);
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .rePasswordError {
        font-size: 16px;
        color: black;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-left: 5px;
        margin-bottom: 7px;
      }
    }
    .loginButton {
      width: 50%;
      height: 40px;
      background-color: white;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: rgba(177, 94, 108, 1);
      font-family: "Noto Sans TC", Courier, monospace;
      font-weight: 400;
      margin-top: 10px;
    }
  }
  .signUpBox {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-top: 10px;
    position: absolute;
    bottom: 5%;
    .member {
      font-size: 16px;
      color: black;
      font-family: "Noto Sans TC", Courier, monospace;
      font-weight: 500;
    }
    .signUp {
      font-size: 16px;
      color: white;
      font-family: "Noto Sans TC", Courier, monospace;
      font-weight: 500;
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(-200%);
  }
  25% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  30% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  35% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  45% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  50% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  55% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  65% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  100% {
    //衝出畫面
    transform: translateX(200%);
  }
}

@keyframes soon-solve {
  0% {
    transform: translateX(-200%);
  }
  25% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  30% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  35% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  45% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  50% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  55% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  65% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
