.LoginSignUpBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(177, 94, 108, 1);
  padding: 50px 0px 50px 0px;
  position: relative;
  .soonSolve {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    font-family: "Oi", cursive;
    position: absolute;
    top: 5%;
  }
  .SignUpLogin {
    font-size: 36px;
    color: rgba(0, 0, 0, 1);
    font-family: "Noto Sans TC", Courier, monospace;
    font-weight: 100;
    position: absolute;
    top: 12%;
  }
  .forms {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    .userContainer {
      width: 100%;
      margin-bottom: 5px;
      .user {
        font-size: 25px;
        color: white;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
      }
      .userBox {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        padding: 8px 14px 8px 14px;
        box-sizing: border-box;
        font-size: 16px;
        color: rgba(191, 191, 191, 1);
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .userError {
        font-size: 16px;
        color: black;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-left: 5px;
      }
    }
    .emailContainer {
      width: 100%;
      margin-bottom: 5px;
      .email {
        font-size: 25px;
        color: white;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
      }
      .emailBox {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        padding: 8px 14px 8px 14px;
        box-sizing: border-box;
        font-size: 16px;
        color: rgba(191, 191, 191, 1);
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .emailError {
        font-size: 16px;
        color: black;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-left: 5px;
      }
    }
    .passwordContainer {
      width: 100%;
      margin-bottom: 5px;
      .password {
        font-size: 25px;
        color: white;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
      }
      .passwordBox {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        padding: 8px 14px 8px 14px;
        box-sizing: border-box;
        font-size: 16px;
        color: rgba(191, 191, 191, 1);
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .passwordError {
        font-size: 16px;
        color: black;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-left: 5px;
      }
    }
    .rePasswordContainer {
      width: 100%;
      margin-bottom: 5px;
      .rePassword {
        font-size: 25px;
        color: white;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-bottom: 7px;
      }
      .rePasswordBox {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        padding: 8px 14px 8px 14px;
        box-sizing: border-box;
        font-size: 16px;
        color: rgba(191, 191, 191, 1);
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .rePasswordError {
        font-size: 16px;
        color: black;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 500;
        margin-left: 5px;
        margin-bottom: 7px;
      }
    }
    .loginButton {
      width: 50%;
      height: 40px;
      background-color: white;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: rgba(177, 94, 108, 1);
      font-family: "Noto Sans TC", Courier, monospace;
      font-weight: 400;
      margin-top: 10px;
    }
  }
  .signUpBox {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-top: 10px;
    position: absolute;
    bottom: 5%;
    .member {
      font-size: 16px;
      color: black;
      font-family: "Noto Sans TC", Courier, monospace;
      font-weight: 500;
    }
    .signUp {
      font-size: 16px;
      color: white;
      font-family: "Noto Sans TC", Courier, monospace;
      font-weight: 500;
    }
  }
}
