.navBarContainer {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 83px;
  display: flex;
  background: #ffffff;
  border-top: solid #b15e6c 3px;
  .searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-family: "Noto Sans TC", Courier, monospace;
    font-size: 12px;
    margin: auto;
  }
  .missionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-family: "Noto Sans TC", Courier, monospace;
    font-size: 12px;
    margin: auto;
  }
  .notificationsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-family: "Noto Sans TC", Courier, monospace;
    font-size: 12px;
  }
  .profileContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-family: "Noto Sans TC", Courier, monospace;
    font-size: 12px;
  }
}
