.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 248, 248, 1);
  position: relative;
  .backContainer {
    position: absolute;
    bottom: 125px;
    width: 80vw;
  }
}
