.page {
  width: 100vw;
  min-height: 896px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 248, 248, 1);
  .backContainer {
    width: 80vw;
  }
}
