/* Rectangle 45 */
.container {
  position: relative;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-size: 14px;
  font-weight: 1000;
  text-align: center;
  color: #000000;
  display: flex;
  gap: 5px;

  .tag {
    position: relative;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    height: 22px;
    background: #b15e6c;
    border-radius: 10px;
    padding: 2px 3px;
  }
  
}
