/* Rectangle 45 */
.tag {
  width: 68px;
  height: 27px;
  background: #b15e6c;
  border-radius: 10px;
  padding: 3px 7px 3px 7px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-size: 14px;
  /* or 107% */
  text-align: center;
  letter-spacing: 0.852639px;
  color: #000000;
}
