.taskContainer {
  width: 335px;
  height: 600px;
  border-radius: 20px;
  border: solid rgba(177, 94, 108, 1) 5px;
  background-color: white;
  padding: 20px;
  position: relative;
  .profileStatusContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .profileContainer {
      display: flex;
      align-items: center;
      .userName {
        color: #8f8c8c;
        font-size: 18px;
        font-weight: 700;
        font-family: "Noto Sans TC", Courier, monospace;
        margin-left: 15px;
      }
    }
    .status {
      background-color: rgba(200, 200, 200, 1);
      color: white;
      font-family: "Noto Sans TC", Courier, monospace;
      font-weight: 700;
      font-size: 18px;
      border-radius: 5px;
      padding: 5px 10px 5px 10px;
    }
  }
  .taskTitle {
    font-family: "Noto Sans TC", Courier, monospace;
    font-weight: 700;
    font-size: 22px;
    margin-top: 25px;
  }
  .taskContent {
    font-family: "Noto Sans TC", Courier, monospace;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 25px;
  }
  .locationRewardContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    .locationTag {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(177, 94, 108, 1);
      border-radius: 5px;
      min-width: 60px;
      .location {
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 700;
        font-size: 14px;
      }
    }
    .rewardContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      .rewardTag {
        width: 25px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(177, 94, 108, 1);
      }
      .reward {
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 700;
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
  .countdownContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    position: relative;
    .countdown {
      position: absolute;
      color: #000;
      font-family: "Noto Sans TC", Courier, monospace;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
    }
  }
  // .applicantsNumeberContainer {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: 30px;
  //   margin-bottom: 25px;
  //   .applicantsNumber {
  //     font-family: "Noto Sans TC", Courier, monospace;
  //     font-weight: 700;
  //     font-size: 14px;
  //   }
  // }
  .taskAssignerOnly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .completeDeleteContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .delete {
        width: 100px;
        height: 50px;
        border-radius: 10px;
        background-color: rgba(177, 94, 108, 1);
        color: #fff;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 700;
        font-size: 18px;
      }
      .complete {
        width: 100px;
        height: 50px;
        border-radius: 10px;
        background-color: rgba(177, 94, 108, 1);
        color: #fff;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 700;
        font-size: 18px;
      }
    }
    .applicantsContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      .applicants {
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 700;
        font-size: 16px;
        margin-left: 10px;
      }
    }
  }
  .taskApplicantsOnly {
    .applyTaskContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .numberChatContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        .numberContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          width: 50%;
          .numberInput {
            margin-left: 3px;
            width: 70%;
            height: 20px;
            border-radius: 10px;
            background-color: rgba(237, 237, 237, 1);
            padding: 10px;
            box-sizing: border-box;
            font-family: "Noto Sans TC", Courier, monospace;
            font-size: 14px;
            text-align: center;
          }
        }
      }
      .applyTask {
        width: 140px;
        height: 50px;
        border-radius: 10px;
        background-color: rgba(177, 94, 108, 1);
        color: #fff;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 700;
        font-size: 18px;
      }
      .cancelTask {
        width: 140px;
        height: 50px;
        border-radius: 10px;
        background-color: rgba(150, 150, 150, 1);
        color: #fff;
        font-family: "Noto Sans TC", Courier, monospace;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
  .taskContainer {
    border: none;
    height: 500px;
    padding: 0 0 10px 0;
  }
}
